/*GENERAL*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Que TODOS los elementos usen border-box */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Contenedor global tipo Bootstrap (≈1320px) */
.contenedor-principal {
    width: 100%;
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;   /* similar a .container de Bootstrap */
    padding-right: 12px;
}


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
main {
    flex: 1;
}
h1 {
    font-size: 2.5rem;
    color: #0c2091;
    margin-bottom: 20px;
}
span {
    color: #746c6c;
}
h2, h3 {
    color: #0c2091;
    margin: auto;
    }
/*centrado*/
.centrado {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px; 
}
/*botones*/
.boton {
    background-color: #0c2091;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
}
/*parrafos mas destacados*/
.destacado {
    font-size: 1.2rem;
    max-width: 800px;
    margin: 0 auto;
    color: #04043f;
    text-align: center;
    }


/*Logo*/
.inline-block {
    height: 50px;
}