/*Indice*/
.inicio {
    max-width: 1320px;
    margin: 40px auto;
    padding-left: 12px;
    padding-right: 12px;
    background-image: url('../img/fondoindex.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    text-align: center;
    min-height: 200px
}

.titulo_dentro {
    display: block;
    width: 100%;
    margin: 1rem 0;
    padding: 0.5rem;
}
.pasos-card-inicio {
    display: flex;
    flex-direction: column;
    justify-content:center;
    padding: 2rem;
    align-items: center;
    background-color: hsla(209, 100%, 50%, 0.205);
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.container-ruta {
    max-width: 1320px;
    margin: 40px auto;
    padding-left: 12px;
    padding-right: 12px;
}
.container-ruta .centrado {
    margin-bottom: 24px;
}   
.contenedor-pasos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    align-content: center;

}