/*pasos*/
.pasos-card {
    display: flex;
    flex-direction: column;
    justify-content:center;
    height: 100%;
    padding: 1rem;
    align-items: center;
    background-color: hsla(209, 100%, 50%, 0.205);
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}