@use "../base/variables";

/*buscador*/
.bloque {
    padding: 12px 24px;

}
.barrabusqueda {
    padding: 10px;
    font-size: 1rem;
    width: 300px;
    border: 2px solid variables.$color-primario;
    border-radius: 5px;

}