@use "../base/variables";

/*normas*/
/*fotos de las normas en grid*/
.materialnormas{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 24px;
    margin: 24px 20px 40px;

    figure {
        margin: 0;
        border-radius: 16px;
        background-color: variables.$color-fondo-card;
        box-shadow: 0 4px 6px variables.$sombra-card;
        display:flex;
        flex-direction: column;
        overflow: hidden;


        img {
            width: 100%;
            height: auto;
            display: block;
        }
/*texto bajo imagen*/
        figcaption {
            padding: 16px 18px;
            text-align: center;
    
/*titulo en la tarjeta*/
            h2 {
                margin: 0 0 8px;
                font-size: 1.2rem;
            }

/*parrafos en contenedores*/
            p {
                color: variables.$colortext-parrafo;
                margin: 0;
                line-height: 1.4;
                font-size: 0.95rem;
            }
        }
    }
}        
/* ===== MODO OSCURO PARA LAS TARJETAS DE NORMAS ===== */

body.dark .materialnormas figure {
  background-color: variables.$color-fondo-primario; // azul oscuro
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);
}

body.dark .materialnormas figure figcaption h2,
body.dark .materialnormas figure figcaption p {
  color: variables.$colortext-contraste; // texto blanco
}