@use "../base/variables";
@use "../utilities/extend";

/*pasos*/

.pasos-card {
  @extend %card-base; 
    background-color: variables.$color-fondo-card;
    padding: 1rem;
    height: 100%;
}

/* MODO OSCURO: cards de la página Pasos */
body.dark .pasos-card {
  background-color: variables.$color-fondo-primario;
  box-shadow: 0 4px 10px variables.$sombras;
  color: variables.$colortext-contraste;
}

body.dark .pasos-card h3,
body.dark .pasos-card p {
  color: variables.$colortext-contraste;
}