@use "../base/variables" as v;


$colores:(
    color-primario: v.$color-primario,         // azul principal textos
    colortext-contraste: v.$colortext-contraste,     // texto sobre fondos oscuros
    colortext-parrafo: v.$colortext-parrafo,       // texto parrafos (negro)
    colortext-secundario: v.$colortext-secundario,    // texto secundario (gris)
    colortext-destacado:v.$colortext-destacado,

    color-fondo-primario:  v.$color-fondo-primario, // fondo principal
    color-fondo-card:v.$color-fondo-card, // fondo tarjetas claras
    sombra-card:v.$sombra-card, 

    botones-hover: v.$botones-hover,
    sombras: v.$sombras, // sombra botones
    boton-borde: v.$boton-borde,

//modo claro/oscuro
  bg-page-light:         v.$bg-page-light,
  text-page-light:       v.$text-page-light,
  bg-page-dark:          v.$bg-page-dark,
  text-page-dark:        v.$text-page-dark,
  card-light:            v.$card-light,
  card-dark:             v.$card-dark,
  header-bg-light:       v.$header-bg-light,
  header-bg-dark:        v.$header-bg-dark,

);

$spacing:(
        1: 0.625rem, //10px
        2: 1.25rem, //20px
        3: 1.5rem,
        4: 2rem,
        5: 3rem,
);


