@use "../base/variables";

/*pie de paginas*/
footer {
    background-color: variables.$color-fondo-primario;
    color: variables.$colortext-contraste;
    text-align: center;
    margin-top:auto;
    padding: .5rem 1rem;
}