@use "../base/variables";
@use "../utilities/mixins";

/*contenedores Encabezado*/
header{
    background-color: variables.$header-bg-light;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    position: relative;
    z-index: 20;
    nav {
        display: flex;
        align-items: center;

        ul{
            display: flex;
            column-gap: 30px;
            list-style: none;
            li {
                a { 
                    text-decoration: none;
                    color: variables.$colortext-contraste;
                }   
            }
        }
    }
    .menu-toggle {
        display: none;
    }
    .hamburguesa{
        color: variables.$colortext-contraste;
        font-size: 30px;
        display: none;
        cursor: pointer;
    }
}
/* ===== MODO OSCURO PARA EL HEADER ===== */
body.dark header {
  background-color: variables.$header-bg-dark;
}

/* Color de los links y el ícono */
body.dark header a,
body.dark header .hamburguesa {
  color: variables.$colortext-contraste;
}

/* ===== botón de modo oscuro solo con icono ===== */
.btn-toggle {
  margin-left: 1rem;

  @include mixins.boton-icono(
    #ffffff,                       // fondo claro sobre header oscuro
    variables.$color-primario,     // color del emoji
    variables.$boton-borde         // borde en modo claro
  );
}


/* botón en modo oscuro colores */
body.dark .btn-toggle {
  background-color: transparent;
  color: variables.$colortext-contraste;
  border-color: variables.$colortext-contraste;
}
