@use "sass:map";
@use "../utilities/maps" as *;

/* animacion a las tarjetas */
.pasos-card-inicio,
.pasos-card,
.materialnormas figure {
  transition: transform .3s ease, box-shadow .3s ease;
}

.pasos-card-inicio:hover,
.pasos-card:hover,
.materialnormas figure:hover {
  transform: translateY(-6px) scale(1.02);
  box-shadow: 0 6px 14px rgba(0,0,0,0.15);
}

/* animacion a los botones */
.boton {
  transition: background-color .3s ease, transform .2s ease;
}

.boton:hover {
  transform: translateY(-3px);
  background-color: map.get($colores, color-primario-hover);
}
