@use "variables";

/* ====== Estilos para pantallas pequeñas- media ====== */

/* ====== media para el navegador ====== */
@media (max-width:600px){
header {
    position: relative;
    
    .hamburguesa{
        display:block;
        margin-left: auto;
    }
/* El navegador*/
    nav {    
        display: block;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
    
        ul {
            display: none;
            flex-direction: column;
            background-color: variables.$color-fondo-primario;
            margin: 0;
            padding: 10px 0;

            li {
                padding: 8px 16px;
                border-bottom: 1px solid variables.$boton-borde;
            
                a {
                    display: block;
                    color: variables.$colortext-contraste;

                    &:hover {
                        background-color: variables.$botones-hover;
                    }
                }      
            }
        }
    }
}

/* Mostrar el menú cuando el checkbox está marcado */
.menu-toggle:checked + .hamburguesa + .menu { 
    ul {
    display: flex;
    }
}
/* en movil quita borde derecho */
.menu > ul > li:not(:last-child) {
    border-right: none;
    padding-right: 0;
}
/* ====== Fin media navegador ====== */

/* ====== media para el contenedor del index  ====== */

.contenedor-pasos {
    grid-template-columns: 1fr; 
    gap: 20px;
}

/* ====== media para el contenedor de Ruta  ====== */
.pasos-card {
    max-width: 350px;
    margin: 0 auto;  

}


/* ====== movil para el contenedor normas  ====== */
.materialnormas {
    grid-template-columns: 1fr; 
    margin: 16px 16px 32px;

    figure {
        max-width: 420px;
        margin: 0 auto;
    }
}
/* ==== fin movil para el contenedor normas  ====== */

}