// Colores de marca AprendeNIIF
$color-primario: #0c2091;              // azul principal textos
$colortext-contraste: #ffffff;     // texto sobre fondos oscuros
$colortext-parrafo: #0b1220;          // texto parrafos (negro)
$colortext-secundario: #746c6c;    // texto secundario (gris)
$colortext-destacado:#0c1757;

$color-fondo-primario:  #050538; // fondo principal
$color-fondo-card:hsla(209, 100%, 50%, 0.205); // fondo tarjetas claras
$sombra-card:rgba(0, 0, 0, 0.1); 



$botones-hover: #04043f;
$sombras: rgba(4, 4, 63, 0.3); // sombra botones
$boton-borde: #1f2937;


//modo claro / oscuro

$bg-page-light: #f8fafc;
$text-page-light: $colortext-parrafo;

$bg-page-dark: #020617;
$text-page-dark: #e5e7eb;

$card-light: $color-fondo-card;
$card-dark: #0f172a;

$header-bg-light: $color-fondo-primario;
$header-bg-dark: $color-fondo-primario;

